<div class=" grid grid-cols-2 gap-4 ">
  <ng-container *ngIf="loading; else repoContent">
    <div *ngFor="let _ of [1, 2, 3, 4]" class="mb-4">
      <div class="isolate rounded-xl bg-white/20 shadow-lg ring-1 ring-white/10 backdrop-blur-lg border border-white/20 bg-gradient-to-r from-white/20 to-transparent p-4">
        <div class="animate-pulse">
          <div class="h-4 bg-gray-200 rounded mb-2"></div>
          <div class="h-4 bg-gray-200 rounded mb-2"></div>
          <div class="flex items-center">
            <div class="h-4 bg-gray-200 rounded w-1/3 mr-2"></div>
            <div class="h-4 bg-gray-200 rounded w-1/4 mr-2"></div>
            <div class="h-4 bg-gray-200 rounded w-1/4"></div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  

  <ng-template #repoContent>
    <div *ngFor="let repo of repositories" class="mb-4">
      <div class="isolate rounded-xl bg-white/20 shadow-lg ring-1 ring-white/10 backdrop-blur-lg border border-white/20 bg-gradient-to-r from-white/20 to-transparent p-4 min-h-[170px] flex flex-col justify-between">
        <div>
          <h3 class="text-white text-lg font-semibold">{{ repo.name }}</h3>
          <p class="text-white mb-2">{{ repo.description }}</p>
        </div>
        <!-- more details here -->
        <div class="flex items-center mt-auto flex-wrap">
          <span class="isolate rounded-xl bg-white/20 shadow-lg ring-1 ring-white/10 backdrop-blur-lg border border-white/20 bg-gradient-to-r from-white/20 to-transparent p-2 text-white mr-2 mb-1">Stars: {{ repo.stargazers_count }}</span>
          <span class="isolate rounded-xl bg-white/20 shadow-lg ring-1 ring-white/10 backdrop-blur-lg border border-white/20 bg-gradient-to-r from-white/20 to-transparent p-2 text-white mr-2 mb-1">Forks: {{ repo.forks_count }}</span>
          
          <ng-container *ngIf="repo.language">
            <!-- Render each topic -->
            <span class="isolate rounded-xl bg-white/20 shadow-lg ring-1 ring-white/10 backdrop-blur-lg border border-white/20 bg-gradient-to-r from-white/20 to-transparent p-2 text-white mr-2 mb-1"> {{ repo.language }}</span>
          </ng-container>
          <!-- Additional repository topics -->
          <ng-container *ngIf="repo.topics && repo.topics.length">
            <!-- Render each topic -->
            <span *ngFor="let topic of repo.topics" class="isolate rounded-xl bg-white/20 shadow-lg ring-1 ring-white/10 backdrop-blur-lg border border-white/20 bg-gradient-to-r from-white/20 to-transparent p-2 text-white mr-2 mb-1"> {{ topic }}</span>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-template>
  
</div>
