<!--  -->
<div *ngIf="loading" class="max-w-md mx-auto mb-8 bg-white/20 rounded-lg shadow-md ">
  <!-- Loading state content -->
  <div class="isolate rounded-xl bg-white/20 shadow-lg ring-1 ring-white/10 backdrop-blur-lg border border-white/20 bg-gradient-to-r from-white/20 to-transparent p-4">
    <div class="animate-pulse">
      <div class="flex flex-col items-center">
        <div class="w-24 h-24 bg-gray-200 rounded-full mb-4"></div>
        <div class="w-3/4 h-4 bg-gray-200 rounded mb-2"></div>
        <div class="w-1/2 h-4 bg-gray-200 rounded mb-2"></div>
        <div class="w-1/4 h-4 bg-gray-200 rounded"></div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="!loading && user" class=" isolate rounded-xl bg-white/20 shadow-lg ring-1 ring-white/10 backdrop-blur-lg border border-white/20 bg-gradient-to-r from-white/20 to-transparent flex flex-col items-center py-2">
  <div>
    <img [src]="user.avatar_url" alt="Avatar" class=" isolate  bg-white/20 shadow-lg ring-1 ring-white/10 backdrop-blur-lg border border-white/20 bg-gradient-to-r from-white/20 p-0.5 to-transparent flex flex-col items-center  w-24 h-24 rounded-xl mb-4">
  </div>
  
  <h2 class="text-xl text-white font-bold mb-2">{{ user.name }}</h2>
  <p class="text-white mtext-whiteb-2">{{ user.bio }}</p>
  <p class="text-white">Followers: {{ user.followers }}</p>
  
</div>
