<div>
  <app-search (searchUser)="fetchUser($event)"></app-search>
</div>

<div *ngIf="!userFetchError && user">
  <app-user [user]="user"></app-user>
</div>
<ng-container *ngIf="!userFetchError; else userError">
  <div *ngIf="user && repositories.length === 0">No repositories found</div>
</ng-container>
<ng-template #userError>
  <div *ngIf="errorMessage">Error: {{ errorMessage }}</div>
</ng-template>

<div *ngIf="!repoFetchError && repositories.length > 0">
  <app-repo [repositories]="repositories"></app-repo>
</div>
<ng-template #repoError>
  <div *ngIf="errorMessage">Error: {{ errorMessage }}</div>
</ng-template>
