<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex items-center justify-between">
    <!-- Logo or application name (if applicable) -->
    <a href="#" class="text-white font-semibold text-lg">git scout -g</a>

    <!-- Search form -->
    <form class="flex items-center" (ngSubmit)="search()">
      <input 
        name="username" 
        type="text" 
        [(ngModel)]="username" 
        placeholder="Enter GitHub username" 
        class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
      >
      <button 
        type="submit" 
        class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:outline-none focus:bg-blue-600"
      >
        Search
      </button>
    </form>
  </div>
</nav>
